<!DOCTYPE html>
<html>
 <head>
 	<meta charset="utf-8">
 	<title>HOME HBS</title>
 </head>
 <body>
 	<h1> {{name}}</h1>
 	<p> Some Text </p>
   {{> header}}
 	<footer> 
 		<p> CopyWrite {{likes.[0]}} and {{likes.[1]}} </p>
 	</footer>
 </body>
</html>